
.heading-font {
	font-family:Catamaran,Helvetica,Arial,sans-serif;
	font-weight:200;
	letter-spacing:1px
}
.body-font {
	font-family:Muli,Helvetica,Arial,sans-serif
}
.alt-font {
	font-family:Lato,Helvetica,Arial,sans-serif;
	text-transform:uppercase;
	letter-spacing:2px
}
body,html {
	height:100%;
	width:100%
}
body {
	font-family:Muli,Helvetica,Arial,sans-serif;
	webkit-tap-highlight-color:#222;
  color:#999;
}

a {
	-webkit-transition:all .35s;
	-moz-transition:all .35s;
	transition:all .35s;
}
a:focus,a:hover {
	color:#bb0000
}
hr {
	max-width:100px;
	margin:25px auto 0;
	border-width:1px;
	border-color:rgba(34,34,34,.1)
}
hr.light {
	border-color:#fff
}
p {
	font-size:18px;
	line-height:1.5;
	margin-bottom:20px
}

.container {
  z-index: 2;
  position: relative;
}


section {
	padding:140px 0
}
section h2 {
	font-size:50px
}
section.couponsection {
  padding: 150px 0;
  position: relative;
}
section.couponsection h2 {
	margin-top:0;
	font-size:50px
}

section .title {
  font-family: Marmelad;
}

section#contact {
	position:relative;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	-o-background-size:cover;
	background-position:center;
	background-image: url('/static/pic2.jpg')}});
}

section .overlay {
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,.7);
	position:absolute;
	top:0;
	left:0
}

#contactform input, #contactform textarea {
  border: 1px solid rgba(255,255,255,.09);
  background-color: rgba(255,255,255,0.1);
  width: 100%;
  color: #ffffff
  padding: 20px 20px;
  letter-spacing: 1px;
  font-size: 18px;
  margin-bottom: 20px;
}
.done {
    display: none;
}
.error input, input.error, .error textarea, textarea.error {
    border: 1px solid orangered !Important;
    transition: border linear 0.2s,box-shadow linear 0.2s;
}
#contactform input[type=submit] {
  width:100%;
  border-radius:0;
  padding:18px 20px;
  color:#fff;
}

